<section class="page__content_support">
    <br/>
    If you like the post, feel free to support it via BuyMeACoffee or Patreon.

    <br/><br/>
    <a href="https://www.buymeacoffee.com/h9fralzoq" target="_blank"><img src="https://cdn.buymeacoffee.com/buttons/arial-green.png" alt="Buy Me A Coffee" style="height: 51px !important;width: 217px !important;"></a>

    <br/><br/>
    <a href="https://www.buymeacoffee.com/h9fralzoq" target="_blank"><img src="https://cdn.buymeacoffee.com/buttons/arial-green.png" alt="Buy Me A Coffee" style="height: 51px !important;width: 217px !important;"></a>

    <br/><br/>
    Thank you.
</section>