<section class="page__content_support">
    <br/>
    If you like the post, feel free to support me via BuyMeACoffee or Patreon.

    <br/><br/>
    <a href="https://www.buymeacoffee.com/h9fralzoq" target="_blank"><img src="https://cdn.buymeacoffee.com/buttons/arial-green.png" alt="Buy Me A Coffee" style="height: 41px !important;width: 157px !important;"></a>

    <br/><br/>
    <a href="https://www.patreon.com/bePatron?u=40271259" target="_blank"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/94/Patreon_logo.svg/40px-Patreon_logo.svg.png" alt="Patreon" style="height: 41px !important; width: 157px !important;"></a>

    <br/><br/>
    Thank you.
</section>
